@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lobster);

#slogan {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin: 15px;
	text-align: center;
}

/*#boxed {
	font-family: 'Lora', serif;
	font-color: #fff;
	font-weight: normal;
	font-size: 30px;
	max-width: 500px;	
	text-align: center;
}*/

body {
	color: #FFF;
	font-family: 'Lora', sans-serif;
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	background: url("http://i.imgur.com/k1XZH9v.jpg");
	background-size: cover;
	background-color: #000;
}

#logo {
	width: 240px;
	height: 90px;
}

h2 {
	color: #DF0101;
}

input {
    width:400px;
    border:1px solid white;
    border-radius:10px;
    padding:15px;
    text-align: center;
}

button {
    background-color: #fff;
    border:1px solid white;
    border-radius:10px;
    padding:15px;
    font-size:15px;
    font-weight: bold;
    font-family: 'Lora', serif;
}

a {
	color: #fff;
	font-size: .5em;
	text-decoration: none;
}

nav a:hover {
	color: #DF0101;
	text-decoration: underline;
}

.cafe {
	float: left;
	width: 30%;
	margin-top: 0px;
    margin-right: 1.5%;
    margin-bottom: 2.2em;
    margin-left: 1.5%;
    background-color: #fff;
    border-radius:10px;
    display: inline-block;
}

.cafe img {
	width: 300px;
	height: 300px;
}

.cafe a {

}

h4 {
	margin: 1em;
	color: #DF0101;
	font-size: 1.5em;
}