@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/*#boxed {
	font-family: 'Lora', serif;
	font-color: #fff;
	font-weight: normal;
	font-size: 30px;
	max-width: 500px;	
	text-align: center;
}*/

body {
	font-size: 16px;
	font-family: 'Lora', sans-serif;
	text-align: center;
	font-weight: normal;
	background: url("http://i.imgur.com/k1XZH9v.jpg");
	background-size: 100%;
	background-color: #FFF;
}

header img {
	float: left;
	width: 20%;
	height: 10%;
	padding-right: 100%;
	margin-bottom: 15px;
}


header p {
	font-family: 'Lobster', cursive;
	color: #FFF;
	font-size: 3em;
	margin: .5em;
	text-align: center;
}

nav {
	text-align: center;
	margin: 1em auto;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	color:#DF0101;
}

input {
    width: 40%;
    border: 1px solid white;
    border-radius:1em;
    padding:1em;
    text-align: center;
}

button {
    background-color: #fff;
    border:1px solid white;
    border-radius:1em;
    padding:1em;
    font-size:.5em;
    font-weight: bold;
    font-family: 'Lora', serif;
}

a {
	color: #fff;
	font-size: .5em;
	text-decoration: none;
}

nav a:hover {
	color: #DF0101;
	text-decoration: none;
}

nav a {
	text-decoration: underline;
}

form {
	margin: 1em 1em 2em 1em;
	font-size: 1.5em;
}

section {
	background-color: #fff;

}

section h2 {
	padding-top: 2em;
}

footer {
	text-align: center;
	font-size: 1em;
	color: #DF0101;
}

.cafe {
	width: 30%;
	float: left;
	font-size: 1.5em;
	margin-top: 0px;
    margin-right: 1.5%;
    margin-bottom: 2.2em;
    margin-left: 1.5%;
}

.cafe img {
	width: 300px;
	height: 300px;
	background-color: #FFF;
}

.cafe a:hover {
	color:#DF0101;
}

.cafe h4 {
	margin: 1em;
	color:#DF0101;
	font-size: 1.5em;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}